# Таблица SQL

|id|title|director|year|length_minutes|
| ----------| --------- | --------- | --------- | --------- |
|1|Toy Story|John Lasseter|1995|81|
|2|A Bug's Life|	John Lasseter|1998|	95|
|3|Toy Story 2|	John Lasseter|	1999|	93|
|4|	Monsters, Inc.|	Pete Docter|	2001|	92|
|5|	Finding Nemo|	Andrew Stanton|	2003|	107|
|6|	The Incredibles|	Brad Bird|	2004|	116|
|7|	Cars|	John Lasseter|	2006|	117|
|8|	Ratatouille|	Brad Bird|	2007|	115|
|9|	WALL-E|	Andrew Stanton|	2008|	104|
|10|	Up|	Pete Docter|	2009|	101|
|11|	Toy Story 3|	Lee Unkrich|	2010|	103|
|12|	Cars 2|	John Lasseter|	2011|	120|
|13|	Brave|	Brenda Chapman|	2012|	102|
|14|	Monsters University|	Dan Scanlon|	2013|	110|
|87|	WALL-G|	Brenda Chapman|	2042|	97|

## Exercise 4 — Tasks

* Find all the Toy Story movies<br>
* Find all the movies directed by John Lasseter<br>
* Find all the movies (and director) not directed by John Lasseter<br>
* Find all the WALL-* movies

In [ ]:
SELECT * FROM movies WHERE title LIKE "Toy Story%"

In [ ]:
SELECT * FROM movies WHERE director LIKE "John Lasseter"

In [ ]:
SELECT * FROM movies WHERE director NOT LIKE "John Lasseter"

In [ ]:
SELECT * FROM movies WHERE title LIKE "WALL-%"

## Exercise 4 — Tasks
* List all directors of Pixar movies (alphabetically), without duplicates
* List the last four Pixar movies released (ordered from most recent to least)
* List the first five Pixar movies sorted alphabetically
* List the next five Pixar movies sorted alphabetically

In [ ]:
SELECT DISTINCT director FROM movies ORDER BY director

In [ ]:
SELECT * FROM movies ORDER BY year DESC LIMIT 4

In [ ]:
SELECT * FROM movies ORDER BY title LIMIT 5

In [ ]:
SELECT * FROM movies ORDER BY title LIMIT 5 OFFSET 5

|City|Country	|Population	|Latitude	|Longitude|
|---|---|---|---|---|
|Guadalajara|	Mexico|	1500800|	20.659699|	-103.349609|
|Toronto|	Canada|	2795060|	43.653226|	-79.383184|
|Houston|	United States|	2195914|	29.760427|	-95.369803|
|New York|	United States|	8405837|	40.712784|	-74.005941|
|Philadelphia|	United States|	1553165|	39.952584|	-75.165222|
|Havana|	Cuba|	2106146|	23.05407|	-82.345189|
|Mexico City|	Mexico|	8555500|	19.432608|	-99.133208|
|Phoenix|	United States|	1513367|	33.448377|	-112.074037|
|Los Angeles|	United States|	3884307|	34.052234|	-118.243685|
|Ecatepec de Morelos|	Mexico|	1742000|	19.601841|	-99.050674|
|Montreal|	Canada|	1717767|	45.501689|	-73.567256|
|Chicago|	United States|	2718782|	41.878114|	-87.629798|

## Exercise 4 — Tasks

* List all the Canadian cities and their populations 
* Order all the cities in the United States by their latitude from north to south
* List all the cities west of Chicago, ordered from west to east
* List the two largest cities in Mexico (by population)
* List the third and fourth largest cities (by population) in the United States and their population

In [ ]:
SELECT City, population FROM north_american_cities WHERE Country = "Canada"

In [ ]:
SELECT * FROM north_american_cities WHERE Country = "United States" ORDER BY Latitude DESC

In [ ]:
SELECT City FROM north_american_cities WHERE Longitude < -87.629798   ORDER BY Longitude

In [ ]:
SELECT City FROM north_american_cities WHERE Country = "Mexico" ORDER BY Population DESC LIMIT 2

In [ ]:
SELECT City, Population FROM north_american_cities WHERE Country = "United States" ORDER BY Population DESC LIMIT 2 OFFSET 2